<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sixsinglebird Server</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      header {
        display: flex;
        max-width: 100%;
      }
      header nav {
        margin-left: auto;
      }
      a:hover {
        color: blue;
        cursor: pointer;
      }
      a {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Sixsinglebirds Landing page</h1>
      <nav><a href="/nlweather">weather</a></nav>
    </header>
  </body>
</html>
